<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wpc.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.wpc.entity.Comment">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="recordId" column="record_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="delete" column="delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,record_id,user_id,
        date,content,delete
    </sql>
</mapper>
